.confetti {
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute; */
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1000;
}
.confetti-piece {
    position: absolute;
    width: 10px;
    height: 30px;
    background: #ffd300;
    top: 0;
    opacity: 0;
}
.confetti-piece:nth-child(1) {
    left: 7%;
    -webkit-transform: rotate(-40deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 182ms;
    -webkit-animation-duration: 1116ms;
}
.confetti-piece:nth-child(2) {
    left: 14%;
    -webkit-transform: rotate(4deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 161ms;
    -webkit-animation-duration: 1076ms;
}
.confetti-piece:nth-child(3) {
    left: 21%;
    -webkit-transform: rotate(-51deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 481ms;
    -webkit-animation-duration: 1103ms;
}
.confetti-piece:nth-child(4) {
    left: 28%;
    -webkit-transform: rotate(61deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 334ms;
    -webkit-animation-duration: 708ms;
}
.confetti-piece:nth-child(5) {
    left: 35%;
    -webkit-transform: rotate(-52deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 302ms;
    -webkit-animation-duration: 776ms;
}
.confetti-piece:nth-child(6) {
    left: 42%;
    -webkit-transform: rotate(38deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 180ms;
    -webkit-animation-duration: 1168ms;
}
.confetti-piece:nth-child(7) {
    left: 49%;
    -webkit-transform: rotate(11deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 395ms;
    -webkit-animation-duration: 1200ms;
}
.confetti-piece:nth-child(8) {
    left: 56%;
    -webkit-transform: rotate(49deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 14ms;
    -webkit-animation-duration: 887ms;
}
.confetti-piece:nth-child(9) {
    left: 63%;
    -webkit-transform: rotate(-72deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 149ms;
    -webkit-animation-duration: 805ms;
}
.confetti-piece:nth-child(10) {
    left: 70%;
    -webkit-transform: rotate(10deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 351ms;
    -webkit-animation-duration: 1059ms;
}
.confetti-piece:nth-child(11) {
    left: 77%;
    -webkit-transform: rotate(4deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 307ms;
    -webkit-animation-duration: 1132ms;
}
.confetti-piece:nth-child(12) {
    left: 84%;
    -webkit-transform: rotate(42deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 464ms;
    -webkit-animation-duration: 776ms;
}
.confetti-piece:nth-child(13) {
    left: 91%;
    -webkit-transform: rotate(-72deg);
    -webkit-animation: makeItRain 1000ms infinite ease-out;
    -webkit-animation-delay: 429ms;
    -webkit-animation-duration: 818ms;
}
.confetti-piece:nth-child(odd) {
    background: #7431e8;
}
.confetti-piece:nth-child(even) {
    z-index: 1;
}
.confetti-piece:nth-child(4n) {
    width: 5px;
    height: 12px;
    -webkit-animation-duration: 2000ms;
}
.confetti-piece:nth-child(3n) {
    width: 3px;
    height: 10px;
    -webkit-animation-duration: 2500ms;
    -webkit-animation-delay: 1000ms;
}
.confetti-piece:nth-child(4n-7) {
  background: red;
}
@-webkit-keyframes makeItRain {
    from {opacity: 0;}
    50% {opacity: 1;}
    to {-webkit-transform: translateY(350px);}
}


.panda {
    display: flex;
    justify-content: center;
    margin: 7.5px;
    animation-name: bounce;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }

  .head {
    width: 46px;
    height: 38px;
    border: 1px solid white;
    background: #ECEFF1;
    border-radius: 42%;
    /* box-shadow: 4px 4px 75px 20px #eedd82, -4px -4px 75px 20px #eedd82; */
  }

  .ear {
    position: relative;
    width: 20px;
    height: 12px;
    border: 1px solid transparent;
    background: black;
    border-radius: 50% 50% 15% 15%;
    transform: rotate(-30deg);
    top: -13%;
    left: -5%;
  }

  .ear.right {
    position: relative;
    top: -43%;
    left: 66%;
    transform: rotate(30deg);
  }

  .eye {
    position: relative;
    top: -25%;
    left: 10%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid transparent;
    background: black;
  }

  .eye.right {
    position: relative;
    left: 67%;
    top: -50%;
  }

  .eye:after {
    display: block;
    content: "";
    position: relative;
    width: 5px;
    height: 5px;
    border: 1px solid transparent;
    background: #ECEFF1;
    top: 15%;
    left: 15%;
    border-radius: 50%;
  }

  .mouth {
    position: relative;
    width: 24%;
    height: 15%;
    top: -50%;
    left: 40%;
    border-radius: 15% 15% 70% 70%;
    border: 1px solid transparent;
    background: black;
  }

  @keyframes bounce {
    0% {
      transform: rotate(15deg);
    }
    50% {
      transform: rotate(-15deg);
    }
    100% {
      transform: rotate(15deg);
    }
  }

.happy-bday-text{
    font-family: fantasy;
    letter-spacing: 3px;
    text-transform: uppercase;
    background: linear-gradient(to right, #ffee00 0%,#ffee00 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.bday-panda-div{
    display: flex;
}
.main-header{
    justify-content: space-between !important;
}
