.error {
    color: #bf5555;
}
.search-right {
    margin-left: auto;
}
.revenue-link{
    cursor: pointer;
}
.ck.ck-balloon-panel_visible{
    z-index:9999 !important;
}
.search-right{
    display: flex;
}
.search-right div a {
    margin-top: 20px;
    margin-right: 10px;
}
.smaller-text{
    font-size: small;
}

.nav-sidebar > li.nav-item:nth-child(2) a.nav-link i {
    color: rgb(255, 199, 14) !important;
}
.nav-sidebar > li.nav-item:nth-child(3) a.nav-link i {
    color: green !important;
}
.nav-sidebar > li.nav-item:nth-child(4) a.nav-link i {
    color: rgb(0, 238, 255) !important;
}
.nav-sidebar > li.nav-item:nth-child(5) a.nav-link i {
    color: rgb(51, 255, 0) !important;
}
.nav-sidebar > li.nav-item:nth-child(6) a.nav-link i {
    color: rgb(255, 199, 14) !important;
}
.nav-sidebar > li.nav-item:nth-child(7) a.nav-link i {
    color: green !important;
}
.nav-sidebar > li.nav-item:nth-child(8) a.nav-link i {
    color: rgb(0, 238, 255) !important;
}
.nav-sidebar > li.nav-item:nth-child(9) a.nav-link i {
    color: rgb(51, 255, 0) !important;
}
.nav-sidebar > li.nav-item:nth-child(10) a.nav-link i {
    color: rgb(255, 199, 14) !important;
}
.nav-sidebar > li.nav-item:nth-child(11) a.nav-link i {
    color: green !important;
}
.nav-sidebar > li.nav-item:nth-child(12) a.nav-link i {
    color: rgb(0, 238, 255) !important;
}
.nav-sidebar > li.nav-item:nth-child(13) a.nav-link i {
    color: rgb(51, 255, 0) !important;
}

.badge-light-green{
    color: black;
    background-color: #77ff07;
}
.badge-purple{
    color: black;
    background-color: #d400d4;
}
.badge-red-yellow-gradient{
    color: black;
    background-image: linear-gradient(red, yellow);
}
.badge-blue-yellow-gradient{
    color: black;
    background-image: linear-gradient(rgb(2, 0, 128), yellow);
}
.daterangepicker{
    color: black !important;
}
/* .swal2-popup{

    display: flex !important;
    justify-content: center;
    font-size: 0.6em !important;
    align-items: center;
    overflow: hidden;
    width: auto !important;
} */
.table > thead >tr> th{
    color: #495057 !important;
    background-color: #e9ecef !important;
}

